<div class="main-container" [ngClass]="{ 'nav-background' : scrollPosition >= 200 }">
    <div class="d-flex justify-content-between align-items-center">
        <div class="logo">
            Logo
        </div>
        <div class="menu">
            <ul class="navigationBar" id="nav">
                <li><a href="#home" data-content="Home" [ngClass]="{ 'active' : url == '#home' }">Home</a></li>
                <li><a href="#service" data-content="Service" [ngClass]="{ 'active' : url == '#service' }">Service</a></li>
                <li><a href="#projects" data-content="Projects" [ngClass]="{ 'active' : url == '#projects' }">Projects</a></li>
                <li><a href="#about" data-content="About" [ngClass]="{ 'active' : url == '#about' }">About</a></li>
                <li><a href="#contact" data-content="Contact" [ngClass]="{ 'active' : url == '#contact' }">Contact</a></li>
            </ul>
            <button class="icon" (click)="showNavigationBar()"><i class="fa fa-bars"></i></button>
        </div>
    </div>
    <div class="mobile-menu" id="mobile-menu">
        <ul class="navigationBar" id="nav">
            <li><a href="#home" data-content="Home" [ngClass]="{ 'active' : url == '#home' }" (click)="showNavigationBar()">Home</a></li>
            <li><a href="#service" data-content="Service" [ngClass]="{ 'active' : url == '#service' }" (click)="showNavigationBar()">Service</a></li>
            <li><a href="#projects" data-content="Projects" [ngClass]="{ 'active' : url == '#projects' }" (click)="showNavigationBar()">Projects</a></li>
            <li><a href="#about" data-content="About" [ngClass]="{ 'active' : url == '#about' }" (click)="showNavigationBar()">About</a></li>
            <li><a href="#contact" data-content="Contact" [ngClass]="{ 'active' : url == '#contact' }" (click)="showNavigationBar()">Contact</a></li>
        </ul>
    </div>
</div>