.main-container{
    position: fixed;
    justify-content: center;
    width: 100%;
    padding: 12px 0px;
    div{
        width: 80%;
        margin: auto;
    }
}
.menu{
    ul{
        display: flex;
        list-style: none;
        padding: unset;
        width: 100%;
        margin: unset;
        justify-content: space-between;
        li{
            padding: 12px 30px;
            a{
                text-decoration: none;
                color: #7d7d7d;
                font-weight: 700;
                font-family: var(--font-family);
            }
            a:hover{
                color: var(--primary-color);
            }
            a.active{
                color: var(--primary-color);
            }
        }
        li:last-child{
            background-color: var(--primary-color);
            border-radius: 28px;
            padding: 12px 50px;
            a{
                color: #fff;
                font-weight: 700;
                letter-spacing: 1px;
            }
        }
    }
}

.nav-background{
    background: #CAF0F8;
}

.icon{
    display: none;
    float: right;
    border: none;
    background-color: #caf0f8;
}

@media screen and (max-width: 840px) {
    .main-container{
        background: #CAF0F8;
    }
    .menu ul{
        display: none;
    }
    .mobile-menu ul{
        list-style: none;
        text-align: center;
        li{
            padding: 12px 30px;
            a{
                text-decoration: none;
                color: #7d7d7d;
                font-weight: 700;
                font-family: var(--font-family);
            }
            a:hover{
                color: var(--primary-color);
            }
            a.active{
                color: var(--primary-color);
            }
        }
        li:last-child{
            background-color: var(--primary-color);
            border-radius: 28px;
            padding: 12px 50px;
            a{
                color: #fff;
                font-weight: 700;
                letter-spacing: 1px;
            }
        }
    }
    .icon {
      float: right;
      display: block;
    }
  }