.primary-btn{
    background: var(--primary-color);
    color: #fff;
    border-radius: 30px;
    font-family: var(--font-family);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
    width: 140px;
    margin-right: 30px;
}

.main-container{
    height: calc(100vh - 0px);
}

@media screen and (max-width: 768px){
    .main-container{
        height: unset;
        .container{
            padding-top: 140px;
            padding-bottom: 75px;
            .column-1{
                .start{
                    a:first-child{
                        font-size: 12px;
                        width: 115px;
                    }
                    a:last-child{
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width : 425px) {
    .column-2{
        display: none;
    }
}

.column-1{
    h1{
        font-family: var(--kabrio-font);
        margin-bottom: 15px;
    }
    h3{
        margin-bottom: 40px;
        color: #ababab;
        font-family: var(--font-family);
    }
    .start{
        a:last-child{
            letter-spacing: 1px;
            text-decoration: none;
            color: #757575;
            font-weight: 700;
        }
    }
}

.column-2{
    img{
        width: 100%;
    }
}