<div class="container-fluid main-container p-0" style="background: #f0f9ff;">
    <div class="container d-flex justify-content-between align-items-center h-100">
        <div class="row">
            <div class="column-1 col-lg-5 col-md-12 col-sm-12 col-xs-12 d-flex align-items-center">
                <div>
                    <h1>FollowUp Service</h1>
                    <h3>The technique that gives meaning to your projects.</h3>
                    <div class="d-flex justify-content-between align-items-center start">
                        <a class="btn primary-btn">Get Started</a>
                        <a href="javascript:;">Questions? Talk to our team <i class="fa fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="column-2 col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <img src="/assets/images/Header.png" alt="">
            </div>
        </div>
    </div>
</div>