<div class="container-fluid main-container p-0">
    <div class="container">
        <div class="head">
            <h1>Service</h1>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="row align-items-center">
                <div class="column-2 col-lg-5 col-md-12 col-sm-12 col-xs-12">
                    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
                    <h3>Suspendisse labortis sem vel ultrices suscipit.</h3>
                    <h3>Vestibulum pharetra rutrum urna vel posuere.</h3>
                    <div class="list">
                        <div class="row">
                            <div class="para-1 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <h5>Lorem ipsum</h5>
                                <p>Nullam pharetra erat ut elit sollicitudin, eu interdum metus venenatis.</p>
                            </div>
                            <div class="para-2 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <h5>Lorem ipsum</h5>
                                <p>Nullam pharetra erat ut elit sollicitudin, eu interdum metus venenatis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center start">
                        <a class="btn primary-btn">Get Started</a>
                        <a href="javascript:;">Questions? Talk to our team <i class="fa fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="column-1 col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <img src="/assets/images/projects.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>