.primary-btn{
    background: var(--primary-color);
    color: #fff;
    border-radius: 30px;
    font-family: var(--font-family);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
    width: 140px;
    margin-right: 30px;
}

.container{
    padding-top: 140px;
    .head h1{
        text-align: center;
        font-family: var(--kabrio-font);
        font-size: 65px;
        margin-bottom: 40px;
    }
}

.column-2{
    h1{
        font-family: var(--kabrio-light-font);
        margin-bottom: 10px;
    }
    h3{
        color: #ababab;
        font-family: var(--font-family);
        font-size: 18px;
    }
    h3:nth-child(3){
        margin-bottom: 40px;
    }
    .list{
        display: flex;
        justify-content: space-between;
        h5{
            font-weight: 400;
        }
        p{
            color: #8e8e97;
            font-weight: 500;
            font-family: var(--font-family);
        }
    }
    .start{
        a:last-child{
            letter-spacing: 1px;
            text-decoration: none;
            color: #757575;
            font-weight: 700;
        }
    }
}

.column-1{
    img{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .main-container{
        height: unset;
        .container{
            padding-top: 50px;
            padding-bottom: 75px;
            .row{
                flex-direction: column-reverse;
                .column-2{
                    .start{
                        a:first-child{
                            font-size: 12px;
                            width: 115px;
                        }
                        a:last-child{
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}