.primary-btn{
    background: var(--primary-color);
    color: #fff;
    font-family: var(--font-family);
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 14px;
    width: 140px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.main-container{
    background: #f2f2f2;
}

.container{
    padding: 100px 0px;
    .head h1{
        text-align: center;
        font-family: var(--kabrio-font);
        font-size: 65px;
        margin-bottom: 40px;
    }
}

.column-1{
    h1{
        font-family: var(--kabrio-font);
        margin-bottom: 10px;
    }
    h3{
        color: #ababab;
        font-family: var(--font-family);
        font-size: 18px;
    }
}

.column-2{
    display: flex;
    align-items: center;
    input{
        height: 60px;
        width: 75%;
        padding-left: 10px;
        font-size: 18px;
        border: 1px solid #dcdcdc;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

.column-1{
    img{
        width: 100%;
    }
}