<div class="container-fluid main-container">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="row">
                <div class="column-1 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h1>
                    <h3>Anean nec magna eu elit semper pharetra.</h3>
                </div>
                <div class="column-2 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <input type="text" placeholder="Email Address">
                    <a class="btn primary-btn">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>