<div class="container-fluid main-container p-0">
    <div class="container">
        <div class="head">
            <h1>About</h1>
        </div>
        <div class="d-flex justify-content-between align-items-center h-100">
            <div class="row">
                <div class="column-1 col-lg-5 col-md-12 col-sm-12 col-xs-12">
                    <h1>Donec ultricies justo sit amet purus placerat fermentum.</h1>
                    <h3>Aliquam metus tortor, sagittis et lacus id, laoreet pharetra urna. Maecenas nec leo a quam volutpat
                        ultricies.</h3>
                    <div class="list">
                        <h5>Aliquam metus tortor</h5>
                        <ul>
                            <li> <i class="fa fa-check-circle-o"></i> In imperdiet venenatis congue.</li>
                            <li> <i class="fa fa-check-circle-o"></i> Nullam elementum sapien id tempour vulputate.</li>
                            <li> <i class="fa fa-check-circle-o"></i> Phasellus mattis malesuada condimentum.</li>
                        </ul>
                    </div>
                </div>
                <div class="column-2 col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <img src="/assets/images/about.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center h-100 my-5">
            <div class="row">
                <div class="column-3 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="list">
                        <h5>Suspendisse dignissim</h5>
                        <ul>
                            <li> <i class="fa fa-check-circle-o"></i> Vivamus sollicitudin justo tincidunt.</li>
                            <li> <i class="fa fa-check-circle-o"></i> Nullam pharetra, neque at aliquam facilisis.</li>
                            <li> <i class="fa fa-check-circle-o"></i> Praesent quis justo quis justo arnare sodales.</li>
                        </ul>
                    </div>
                </div>
                <div class="column-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="list">
                        <h5>Donec vehicula</h5>
                        <ul>
                            <li> <i class="fa fa-check-circle-o"></i> Quisque porttior laoreet magna, in vulputate nibh fringilla vitae.</li>
                            <li> <i class="fa fa-check-circle-o"></i> Nulla facilisi. Aenean blandit euismod tortor.</li>
                            <li> <i class="fa fa-check-circle-o"></i> Nunc arnare pharetra malesuada.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>