.primary-btn{
    background: var(--primary-color);
    color: #fff;
    border-radius: 30px;
    font-family: var(--font-family);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
    width: 140px;
    margin-right: 30px;
}

.container{
    padding-top: 140px;
    .head h1{
        text-align: center;
        font-family: var(--kabrio-font);
        font-size: 65px;
        margin-bottom: 40px;
    }
}

.column-1{
    h1{
        font-family: var(--kabrio-light-font);
        margin-bottom: 10px;
    }
    h3{
        color: #ababab;
        font-family: var(--font-family);
        font-size: 18px;
    }
    h3:nth-child(3){
        margin-bottom: 40px;
    }
    .list{
        margin-top: 90px;
        h5{
            font-family: var(--kabrio-light-font);
            font-size: 35px;
        }
        ul{
            list-style: none;
            margin: unset;
            padding: unset;
            li{
                font-weight: 100;
    font-size: 20px;
            }
        }
    }
    .start{
        a:last-child{
            letter-spacing: 1px;
            text-decoration: none;
            color: #757575;
            font-weight: 700;
        }
    }
}

.column-3{
    .list{
        h5{
            font-family: var(--kabrio-light-font);
            font-size: 35px;
        }
        ul{
            list-style: none;
            margin: unset;
            padding: unset;
            li{
                font-weight: 100;
    font-size: 20px;
            }
        }
    }
}

.column-4{
    .list{
        h5{
            font-family: var(--kabrio-light-font);
            font-size: 35px;
        }
        ul{
            list-style: none;
            margin: unset;
            padding: unset;
            li{
                font-weight: 100;
    font-size: 20px;
            }
        }
    }
}

.column-2{
    img{
        width: 100%;
    }
}

@media screen and (max-width : 425px) {
    .column-2{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .container{
        padding-top: 20px;
        padding-bottom: 75px;
    }
}