<div class="container-fluid main-container p-0">
	<div class="container">
		<div class="head">
			<h1>Projects</h1>
		</div>
		<div class="d-flex justify-content-between align-items-center h-100">
			<div class="row align-items-center">
				<div class="column-1 col-lg-7 col-md-12 col-sm-12 col-xs-12">
					<img src="/assets/images/services.jpg" alt="">
				</div>
				<div class="column-2 col-lg-5 col-md-12 col-sm-12 col-xs-12">
					<h1>Suspendisse facilisis nulla eu ex imperdiet, in venenatis ante molestie.</h1>
					<h3>Nullam quis quam eu nisi porttitor aliquet ut ac risus.</h3>
					<div class="list">
						<div class="row">
							<div class="para-1 col-lg-6 col-md-12 col-sm-12 col-xs-12">
								<h5>Nullam</h5>
								<p>Nullam pharetra erat ut elit sollicitudin, eu interdum metus venenatis.</p>
							</div>
							<div class="para-2 col-lg-6 col-md-12 col-sm-12 col-xs-12">
								<h5>Suspendisse</h5>
								<p>Nullam pharetra erat ut elit sollicitudin, eu interdum metus venenatis.</p>
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-between align-items-center start">
						<a class="btn primary-btn">Get Started</a>
						<a href="javascript:;">Questions? Talk to our team <i class="fa fa-solid fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>