/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


@font-face {
  font-family: 'Kabrio-Bold';
  src:  url('./assets/fonts/kabrio/Kabrio-Abarth-Bold-trial.ttf') format('woff'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kabrio-light';
  src:  url('./assets/fonts/kabrio/Kabrio-Abarth-Light-trial.ttf') format('woff'); 
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family: 'Ubunto',sans-serif;
  --kabrio-font: 'Kabrio-bold';
  --kabrio-light-font: 'Kabrio-light';
  --primary-color: #1C16AF;
  --small: 425px;
  --medium: 768px;
}

$small: 425px;
$medium: 768px;