<app-header></app-header>
<div class="main-container">
    <div id="home">
        <ng-template #home></ng-template>
    </div>
    <div id="service">
        <ng-template #service></ng-template>
    </div>
    <div id="projects">
        <ng-template #projects></ng-template>
    </div>
    <div id="about">
        <ng-template #about></ng-template>
    </div>
    <div id="contact">
        <ng-template #contact></ng-template>
    </div>
</div>
<app-footer></app-footer>