<div class="container-fluid main-container">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <p><span>© 2022 </span>Vincent agi</p>
            <p>FollowUpService</p>
        </div>
    </div>
</div>